.container2{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    width:100%;
    min-height: 91vh;
}

.search-results div{
    margin: 10px auto;
}

.search h2 {
    margin-left: 10px;
}

.get-started {
    background-image: url('../imgs/gamelog-background.png');
    min-height:90vh;
    text-align: center;
    background-repeat: repeat-y;
}

.get-started-p {
    font-size: 20px;
}

.viewPost {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.comments {
    display: flex;
    align-content: center;
    justify-content: center;
}

.profile {
    text-align: center;
}

.viewUser {
    text-align: center;
}

.profile-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 400px
}

.game-image {
    min-width: 500px;
}

.discover {
    text-align: center;
}

.discover-games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbs-wrapper {
    display: none;
}

.carousel-root {
    height: 400px
}

.carousel-root img {
    height: 400px;
    object-fit: cover;
}