.container2{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}

.container3{
    min-height: 80vh;
}

.viewPost {
    text-align: center;
}

.comments {
    display: flex;
    align-content: center;
    justify-content: center;
}