.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-lg {
  flex: 2;
}

.flex-sm {
  flex: 1;
}

.card {
  border-radius: 1em;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

main {
  height: auto;
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
}

form input,
form textarea {
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  padding: 0.8em 0.5em;
  transition: all 0.2s;
  font-size: 1.3rem;
  font-family: 'Open Sans';
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
  border-color: #ff7043;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.3rem;
  transition: all 0.2s;
}
input:active::placeholder,
input:focus::placeholder,
textarea:active::placeholder,
textarea:focus::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

button {
  background-color: #ff7043;
  padding: 0.4em 2em;
  border-radius: 0.5em;
  color: #eee;
  font-weight: 700;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: #ffa270;
  color: #333;
}

li {
  list-style: none;
}

.header-elevated {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.header-elevated .icon {
  margin-left: 1em;
  flex: 3;
}

.card {
  height: 320px;
  width: 240px;
  min-width: 240px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #eee;
  margin-right: 2em;
}

.card:hover {
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}

.card:hover .mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.card h3 {
  font-size: 1.3rem;
  color: #eee;
  margin: 0;
  font-weight: 700;
}

.card p {
  font-weight: 500;
  margin: 0.5em 0;
}

.card .mask {
  transition: inherit;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  justify-content: flex-end;
}

.card .card-content {
  width: 90%;
  /* padding-left: 1em; */
  padding: 0.2em 1em;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.upload.content form {
  margin-top: 4em;
}
